<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361492884760-5svl0lj1siof8ebggq22rthnfh7k30mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361492884760-5svl0lj1siof8ebggq22rthnfh7k30mg</string>
	<key>API_KEY</key>
	<string>AIzaSyByv4n0FvmUb_5_LMQ2qXp7AoQ0Z3TGf78</string>
	<key>GCM_SENDER_ID</key>
	<string>361492884760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GoodIdeaIOS.todolistURLPlus.alvin</string>
	<key>PROJECT_ID</key>
	<string>doittogether-d48a3</string>
	<key>STORAGE_BUCKET</key>
	<string>doittogether-d48a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361492884760:ios:e257d975ccff67365d426d</string>
	<key>DATABASE_URL</key>
	<string>https://doittogether-d48a3.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8485646219002983~2091936014</string>
</dict>
</plist>